* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: sans-serif;
  list-style-type: none;

  /* border: 1px solid black; */
}

:root {
  --blue: #1992d4;
  --darker-blue: #1b7aad;
  --white: #fff;
  --grey: #e2e8f0;
  --orange: #f0b429;
  --dark-grey: #6e6e6e;
  --shadow-grey: #ced3da;
  --dark-shadow-grey: #acb1b8;
  --space-div: 20px;
  --card-radius: 10px;
  --gap-grid: 10px;
}

.container {
  height: 100vh;

  display: grid;
  grid-template-rows: 1.5fr 5.5fr;
  grid-template-columns: 1fr 5fr;
  grid-template-areas:
    "sidebar header"
    "sidebar main";
}

/* sidebar */
.sidebar-container {
  grid-area: sidebar;
  background-color: var(--blue);
  padding: 15px 30px 0 15px;
}

.sidebar-content {
  color: var(--white);
  height: 60%;

  display: grid;
  grid-template-rows: 1fr 2fr 2fr;
  gap: var(--gap-grid);
  justify-content: start;
  align-items: center;
}

.sidebar-content path {
  fill: var(--white);
}

.sidebar-header {
  display: grid;
  grid-template-columns: 60px 1fr;
  gap: var(--gap-grid);
  align-items: center;
}

.sidebar-menu-content,
.sidebar-setting-content {
  display: grid;
  grid-auto-rows: 35px;
  gap: var(--gap-grid);
}

.sidebar-menu,
.sidebar-setting {
  display: grid;
  grid-template-columns: 60px 1fr;
  gap: var(--gap-grid);
  align-items: center;
}

.sidebar-menu > svg,
.sidebar-setting > svg {
  max-width: 35px;
  justify-self: center;
}

.sidebar-menu-title,
.sidebar-setting-title {
  font-size: 1.3rem;
  font-weight: 600;
}

.sidebar-header svg:hover,
.sidebar-header-title:hover,
.sidebar-menu svg:hover,
.sidebar-menu-title:hover,
.sidebar-setting svg:hover,
.sidebar-setting-title:hover {
  cursor: pointer;
}

/* header */
.header {
  grid-area: header;
  background-color: var(--white);
  padding: 10px;

  display: grid;
  grid-template-rows: 2fr 3fr;
  grid-template-columns: 5.5fr 4.5fr;
  gap: var(--gap-grid);
}

.search-section {
  display: grid;
  grid-template-columns: 80px 800px;
  gap: var(--gap-grid);
  align-content: center;
  justify-content: start;
}

.search-section > svg {
  max-width: 35px;
  justify-self: center;
}

.search-section > svg:hover {
  cursor: pointer;
}

.search-box {
  border-radius: 15px;
  border: none;
  background-color: var(--grey);
  padding: 0 15px;
  font-size: 1.3rem;
}

.search-box:focus {
  outline: 1.8px solid var(--darker-blue);
}

.popup-section {
  display: grid;
  grid-template-columns: 20% 20% 30%;
  justify-content: center;
  place-items: center;
  gap: var(--gap-grid);
}

.popup-icon {
  width: 35px;
  justify-self: end;
}

.popup-profile img {
  display: block;
  max-width: 70px;
  border-radius: 50%;
}

.popup-nickname {
  justify-self: start;
  font-weight: 600;
  font-size: 1.3rem;
}

.popup-section > *:hover {
  cursor: pointer;
}

.status-section {
  display: grid;
  grid-template:
    "profile greeting" 1fr
    "profile nickname" 1fr
    / 1.5fr 5fr;
  gap: var(--gap-grid);
}

.status-profile {
  grid-area: profile;
  place-self: center;
}

.status-profile > img {
  display: block;
  width: 100px;
  border-radius: 50%;
}

.status-greeting {
  grid-area: greeting;
  align-self: end;
  font-size: 1.3rem;
  font-weight: 600;
}

.status-nickname {
  grid-area: nickname;
  align-self: start;
  font-size: 1.8rem;
  font-weight: 700;
}

.button-section {
  display: grid;
  grid-template-columns: repeat(3, 25%);
  gap: var(--gap-grid);
  justify-content: center;
  place-items: center;
}

.button-section button {
  background-color: var(--blue);
  color: var(--white);
  border: none;
  font-size: 1.2rem;
  font-weight: 600;
  width: 120px;
  padding: 0.7rem 0;
  border-radius: 1.5rem;
}

.button-section button:hover {
  cursor: pointer;
  background-color: var(--darker-blue);
  transition-duration: 0.3s;
}

/* main */
.main-content {
  grid-area: main;
  background-color: var(--grey);
  padding: 20px;
  box-shadow: inset 0px 7px 7px 0px var(--shadow-grey);

  display: grid;
  grid-template:
    "project announcement" 45%
    "project trending" 45%
    / 70% 25%;
  gap: calc(2 * var(--gap-grid));
  align-content: space-between;
  justify-content: space-around;
}

.main-content > div {
  display: grid;
  grid-template-rows: 80px 1fr;
}

.project-section {
  grid-area: project;
}

.project-header,
.announcement-header,
.trending-header {
  align-self: center;
  font-size: 1.5rem;
  font-weight: 600;
}

.project-card-container {
  display: grid;
  gap: var(--gap-grid);
  grid-auto-rows: 46%;
  grid-template-columns: repeat(auto-fill, 31%);
  place-content: space-between;

}

.project-card {
  background-color: var(--white);
  padding: 20px;
  border-radius: 10px;
  border-left: 10px solid var(--orange);
  box-shadow: 3px 3px 3px 2px var(--shadow-grey);

  display: grid;
  grid-template-rows: 10% 45% 20%;
  align-content: space-around;
}

.project-card:hover {
  box-shadow: 5px 5px 5px 3px var(--dark-shadow-grey);
  transition-duration: 0.25s;
}

.card-header {
  font-size: 1.3rem;
  font-weight: 600;
}

.card-description {
  color: var(--dark-grey);
  line-height: 1.3rem;
}

.card-buttons {
  align-self: end;

  display: grid;
  gap: var(--gap-grid);
  grid-template-columns: repeat(3, 15%);
  grid-template-rows: 30px;
  justify-content: end;
}

.card-buttons > li {
  background-repeat: no-repeat;
  background-position: center;
}

.card-buttons > li:hover {
  cursor: pointer;
}

.card-buttons > li:first-child {
  background-image: url(./svgs/star-plus-outline.svg);
}

.card-buttons > li:nth-child(2) {
  background-image: url(./svgs/eye-plus-outline.svg);
}

.card-buttons > li:last-child {
  background-image: url(./svgs/source-fork.svg);
}

.announcement-section {
  grid-area: announcement;
}

.announcement-container {
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 3px 3px 3px 2px var(--shadow-grey);
  min-height: 265px;

  display: flex;
  flex-direction: column;
}

.announcement-list {
  flex-grow: 1;
  padding: 20px;

  display: grid;
  grid-template-rows: 25% 5% 25% 5% 25%;
  gap: var(--gap-grid);
  align-content: center;
}

.announcement-content {
  align-self: start;

  display: grid;
  gap: calc(var(--gap-grid) / 3);
}

.announcement-content-header {
  font-weight: 600;
}

.announcement-content-description {
  color: var(--dark-grey);
  overflow: hidden;

   display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.announcement-line {
  align-self: center;
}

.trending-section {
  grid-area: trending;
}

/* 

.trending {
  grid-area: trending;
}

.trending-card-container {
  grid-template-rows: repeat(4, 1fr);
}

.trending-card-container > .trending-card {
  display: grid;
  grid-template-rows: 40px 40px;
  grid-template-columns: 80px 1fr;
  grid-template-areas:
    "trending-profile trending-id"
    "trending-profile trending-status";
}

.trending-card:nth-child(1) .profile-image {
  background-image: url("./imgs/avocado-5130214_1280.png");
}

.trending-card:nth-child(2) .profile-image {
  background-image: url("./imgs/girl-8177713_1280.png");
}

.trending-card:nth-child(3) .profile-image {
  background-image: url("./imgs/puppy.jpg");
}

.trending-card:nth-child(4) .profile-image {
  background-image: url("./imgs/silhouette.jpg");
}

.trending-card .profile-image {
  grid-area: trending-profile;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}

.trending-card .id,
.trending-card .status {
  padding-left: 5%;
}

.trending-card .id {
  grid-area: trending-id;
  align-self: center;
}

.trending-card.status {
  grid-area: trending-status;
} */
