* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: sans-serif;
  list-style-type: none;

  /* border: 1px solid black; */
}

:root {
  --blue: #1992d4;
  --darker-blue: #1b7aad;
  --white: #fff;
  --grey: #e2e8f0;
  --orange: #f0b429;
  --dark-grey: #6e6e6e;
  --shadow-grey: #ced3da;
  --space-div: 20px;
  --card-radius: 10px;
  --grid-gap: 10px;
}

.container {
  height: 100vh;

  display: grid;
  grid-template-rows: 1.5fr 5.5fr;
  grid-template-columns: 1fr 5fr;
  grid-template-areas:
    "sidebar header"
    "sidebar main";
}

/* sidebar */
.sidebar-container {
  grid-area: sidebar;
  background-color: var(--blue);
  padding: 15px 30px 0 15px;
}

.sidebar-content {
  color: var(--white);
  height: 60%;

  display: grid;
  grid-template-rows: 1fr 2fr 2fr;
  gap: var(--grid-gap);
  justify-content: start;
  align-items: center;
}

.sidebar-content path {
  fill: var(--white);
}

.sidebar-header {
  display: grid;
  grid-template-columns: 60px 1fr;
  gap: var(--grid-gap);
  align-items: center;
}

.sidebar-menu-content,
.sidebar-setting-content {
  display: grid;
  grid-auto-rows: 35px;
  gap: var(--grid-gap);
}

.sidebar-menu,
.sidebar-setting {
  display: grid;
  grid-template-columns: 60px 1fr;
  gap: var(--grid-gap);
  align-items: center;
}

.sidebar-menu > svg,
.sidebar-setting > svg {
  max-width: 35px;
  justify-self: center;
}

.sidebar-menu-title,
.sidebar-setting-title {
  font-size: 1.3rem;
  font-weight: 600;
}

.sidebar-header svg:hover,
.sidebar-header-title:hover,
.sidebar-menu svg:hover,
.sidebar-menu-title:hover,
.sidebar-setting svg:hover,
.sidebar-setting-title:hover {
  cursor: pointer;
}

/* header */
.header {
  grid-area: header;
  background-color: var(--white);
  padding: 10px;

  display: grid;
  grid-template-rows: 2fr 3fr;
  grid-template-columns: 5.5fr 4.5fr;
  gap: var(--grid-gap);
}

.search-section {
  display: grid;
  grid-template-columns: 80px 800px;
  gap: var(--grid-gap);
  align-content: center;
  justify-content: start;
}

.search-section > svg {
  max-width: 35px;
  justify-self: center;
}

.search-section > svg:hover {
  cursor: pointer;
}

.search-box {
  border-radius: 15px;
  border: none;
  background-color: var(--grey);
  padding: 0 15px;
  font-size: 1.3rem;
}

.search-box:focus {
  outline: 1.8px solid var(--darker-blue);
}

.popup-section {
  display: grid;
  grid-template-columns: 20% 20% 30%;
  justify-content: center;
  place-items: center;
  gap: var(--grid-gap);
}

.popup-icon {
  width: 35px;
  justify-self: end;
}

.popup-profile img {
  display: block;
  max-width: 70px;
  border-radius: 50%;
}

.popup-nickname {
  justify-self: start;
  font-weight: 600;
  font-size: 1.3rem;
}

.popup-section > *:hover {
  cursor: pointer;
}

.status-section {
  display: grid;
  grid-template:
    "profile greeting" 1fr
    "profile nickname" 1fr
    / 1.5fr 5fr;
  gap: var(--grid-gap);
}

.status-profile {
  grid-area: profile;
  place-self: center;
}

.status-profile > img {
  display: block;
  width: 100px;
  border-radius: 50%;
}

.status-greeting {
  grid-area: greeting;
  align-self: end;
  font-size: 1.3rem;
  font-weight: 600;
}

.status-nickname {
  grid-area: nickname;
  align-self: start;
  font-size: 1.8rem;
  font-weight: 700;
}

.button-section {
  display: grid;
  grid-template-columns: repeat(3, 25%);
  gap: var(--grid-gap);
  justify-content: center;
  place-items: center;
}

.button-section button {
  background-color: var(--blue);
  color: var(--white);
  border: none;
  font-size: 1.2rem;
  font-weight: 600;
  width: 120px;
  padding: 0.7rem 0;
  border-radius: 1.5rem;
}

.button-section button:hover {
  cursor: pointer;
  background-color: var(--darker-blue);
  transition-duration: 0.3s;
}

/* main */
.main-content {
  grid-area: main;
  background-color: var(--grey);
  padding: 20px;
  box-shadow: inset 0px 7px 7px 0px var(--shadow-grey);

  display: grid;
  grid-template:
    "project announcement" 55%
    "project trending" 40%
    / 75% 25%;
  gap: calc(2 * var(--grid-gap));
}

.main-content > div {
  display: grid;
  grid-template-rows: 80px 1fr;
}

.project-section {
  grid-area: project;
}

.project-header,
.announcement-header,
.trending-header {
  align-self: center;
  font-size: 1.5rem;
  font-weight: 600;
}

.project-card-container {
  display: grid;
  gap: var(--grid-gap);
  grid-auto-rows: 45%;
  grid-template-columns: repeat(auto-fill, 30%);
  justify-content: space-between;
  align-content: space-around;
}

.project-card {
  background-color: var(--white);
  padding: 20px;
  border-radius: 10px;
  border-left: 10px solid var(--orange);
  box-shadow: 3px 3px 3px 2px var(--shadow-grey);

  display: grid;
  grid-template-rows: 10% 45% 20%;
  align-content: space-around;
}

.card-header {
  font-size: 1.4rem;
  font-weight: 600;
}

.card-buttons {
  align-self: end;

  display: grid;
  gap: var(--grid-gap);
  grid-template-columns: repeat(3, 20%);
  justify-content: end;
}

.announcement-section {
  grid-area: announcement;
}

.trending-section {
  grid-area: trending;
}

.main-content > div {
  /* display: grid; */
  /* grid-template-rows: 1fr 9fr; */
}

/* .project {
  grid-area: project;

  display: grid;
  grid-template-rows: 1fr 15fr;
}

.section-header {
  align-self: center;
}

.project-card-container {
  display: grid;
  gap: 20px;
  grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.project-card,
.announcements-card-container,
.trending-card-container {
  background: var(--white);
  border-radius: var(--card-radius);
  box-shadow: 3px 3px 3px 2px var(--shadow-grey);
}

.project-card {
  padding: 1rem;
  border-left: 10px solid var(--orange);

  display: grid;
  grid-template-rows: 1fr 4fr 0.7fr;
}

.project-card h3 {
  align-self: center;
}

.project-description,
.announcements-description,
.trending-card.status {
  color: var(--dark-grey);
}

.project-button-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.project-button {
  background-repeat: no-repeat;
  background-position: center;
} */

/* Move buttons to the right*/
/* .project-button:first-child {
  grid-column: span 1 / -3;
  background-image: url(./svgs/star-plus-outline.svg);
}

.project-button:nth-child(2) {
  background-image: url(./svgs/eye-plus-outline.svg);
}

.project-button:last-child {
  background-image: url(./svgs/source-fork.svg);
}

.announcements {
  grid-area: announcements;
}

.announcements-card-container,
.trending-card-container {
  padding: var(--space-div);
  background-color: var(--white);
  border-radius: var(--card-radius);

  display: grid;
  gap: 1rem;
  align-items: center;
}

.announcements-card-container {
  grid-template-rows: repeat(3, 1fr);
}

.announcements-card {
  display: grid;
  grid-template-rows: 30px 56px;
}

.announcements-card:not(:last-child) {
  border-bottom: 1px solid var(--shadow-grey);
}

.announcement-header {
}

.announcements-description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.trending {
  grid-area: trending;
}

.trending-card-container {
  grid-template-rows: repeat(4, 1fr);
}

.trending-card-container > .trending-card {
  display: grid;
  grid-template-rows: 40px 40px;
  grid-template-columns: 80px 1fr;
  grid-template-areas:
    "trending-profile trending-id"
    "trending-profile trending-status";
}

.trending-card:nth-child(1) .profile-image {
  background-image: url("./imgs/avocado-5130214_1280.png");
}

.trending-card:nth-child(2) .profile-image {
  background-image: url("./imgs/girl-8177713_1280.png");
}

.trending-card:nth-child(3) .profile-image {
  background-image: url("./imgs/puppy.jpg");
}

.trending-card:nth-child(4) .profile-image {
  background-image: url("./imgs/silhouette.jpg");
}

.trending-card .profile-image {
  grid-area: trending-profile;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}

.trending-card .id,
.trending-card .status {
  padding-left: 5%;
}

.trending-card .id {
  grid-area: trending-id;
  align-self: center;
}

.trending-card.status {
  grid-area: trending-status;
} */
